body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.sec-1 {
  background-color: #1f2937;
  padding: 0 150px;
}
.header {
  color: white;
  font-size: 24px;
  padding: 10px;
}
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}
.header-links {
  display: flex;
  gap: 20px;
}

.body-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
}
.text1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
.subtext {
  color: white;
  font-size: 15px;
}
.button-1 {
  background-color: rgb(21, 128, 221);
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  border-color: rgb(21, 128, 221);
  border-radius: 10%;
}
.img-container {
  width: 400px;
  height: 200px;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subsec-1 {
  height: 200px;
  width: 500px;
  box-sizing: border-box;
  margin: 0;
}

.sec-2-heading {
  font-size: 36px;
  font-weight: 900;
  padding: 20px;
  text-align: center;
}
.sec-2-main {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}
.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border-color: rgb(73, 164, 243);
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
}
.text {
  width: 100px;
  text-align: center;
  font-size: 14px;
}
